* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  gap: 1rem;
  background: linear-gradient(0deg, rgba(64, 58, 199, 1) 0%, rgba(148, 187, 233, 1) 74%);
}

.carousel-img {
  width: 600px;
  border-radius: 10px;
  max-width: 100%;
}

Form {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

Form>input {
  padding: .5rem;
}

.submit-button {
  padding: .5rem;
  background-color: bisque;
}

li {
  list-style-type: none;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

header {
  font-size: 3rem;
}

button {
  font-size: 1rem;
  padding: 5px;
}

.measurements-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: center;
}

.each-measurement {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
  border-radius: 10px;
  height: 70px;
  width: 600px;
  align-items: center;
  background-color: cornsilk;
  color: black;
  margin: 5px;

}

.each-measurement:hover {
  border-color: orange;
  box-shadow: 10px 10px 10px black;
}

.each-measurement:active {
  box-shadow: 10px 10px 10px black;
}

.results {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-radius: 10px;
  height: 70px;
  width: 500px;
  align-items: center;
  background-color: cornsilk;
  padding: 0 3rem 0 3rem
}

.result:hover {
  border-color: orange;
  box-shadow: 10px 10px 10px black;
}

.btn-group {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-evenly;
  padding: 10px 10px 10px 10px;
}

.measurement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  text-align: center;
  padding: .5rem;
  border-radius: 10px;
}

.create-container {
  margin: .5rem 0 1.5rem 0;
}

.edits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-radius: 10px;
  height: 70px;
  width: 650px;
  align-items: center;
  background-color: cornsilk;
  padding: 0 5px 0 15px
}

input {
  float: right;
}

.measurement-buttons {
  display: flex;
  font-size: 1.5rem;
  border-radius: 10px;
  width: 140px;
  height: 65px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-width: 4px;
}

.measurement-buttons:hover {
  box-shadow: 10px 10px 10px orange;
}

.measurement-buttons:active {
  box-shadow: 10px 10px 10px black;
}

.carousel-indicators [data-bs-target] {
  width: 30px;
  border-bottom: 20px solid transparent;
}

.carousel-inner>.item {
  -webkit-transition: -webkit-transform 1.2s ease-in-out !important;
  -o-transition: -o-transform 1.2s ease-in-out !important;
  transition: transform 1.2s ease-in-out !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 0;
}
        
  .create-submit-button {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .create-submit-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

  .edit-buttons {
    display: flex;
  flex-direction: row;
  width: 270px;
  justify-content: space-evenly;
  padding: 10px 10px 10px 10px;
  }

  .edit-button {
    display: flex;
  font-size: 1.5rem;
  border-radius: 10px;
  width: 100px;
  height: 60px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  border-width: 3px;
  }

  .edit-button:hover {
    box-shadow: 10px 10px 10px orange;
  }

  .edit-button:active {
    box-shadow: 10px 10px 10px black;
  }
