* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-style: solid;
  min-height: 80vh;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  padding: 2rem;
  gap: 1rem;
  background: rgb(64,58,199);
background: linear-gradient(0deg, rgba(64,58,199,1) 0%, rgba(148,187,233,1) 74%);
}

.carousel-img{
  width:70%;
  height:50%;
  border-radius: 10px;
}

Form {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.submit-button {
  padding: .5rem;
  background-color: bisque;
}

li {
  list-style-type: none;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

header {
  font-size: 3rem;
}

button {
  font-size: 1rem;
  padding: 5px;
}

.measurements-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: center;
}

.each-measurement {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: solid;
  border-radius: 10px;
  height: 70px;
  width: 50vh;
  align-items: center;
  background-color: cornsilk;
}

.each-measurement:hover {
  border-color: black;
  box-shadow: 10px 10px 10px rgb(0, 204, 255);
  /* box-shadow: 10px 10px 10px orange; */
}

.each-measurement:active {
  box-shadow: 10px 10px 10px black;
}

.results {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-radius: 10px;
  height: 70px;
  width: 50vh;
  align-items: center;
  background-color: cornsilk;
  padding: 0 3rem 0 3rem
}

.result:hover {
  border-color: orange;
  box-shadow: 10px 10px 10px black;
  /* box-shadow: 10px 10px 10px orange; */
}

.result:active {
  box-shadow: 10px 10px 10px black;
}

.btn-group { 
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.measurement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  text-align: center;
}

.edits {
  text-align: left;
}

.create-container {
  margin-bottom: 1rem;
}